@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


html,
body {
    margin: 0;
    padding: 0;
    background: #d58794;
    font-family: 'Montserrat', sans-serif;
}
a:active,
a:hover,
a {
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 60%;
    margin: 50px;
}

section {
    /* height: 100vh; */
    backdrop-filter: blur(25px);
    background-image: url('../images/fullpagebg.png');
    background-repeat: no-repeat;
    background-size: 100% 120%;
    /* filter: blur(25px); */
}

.header-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 42vh;
    padding-left: 10px;
    padding-right: 10px;
}

.header-menu-item{
    margin: 10px;
    border-radius: 50px;
    /* width: 18%; */
    width: 24%;
    height: 20vh;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: -6px 4px 8px 2px rgba(0, 0, 0, 0.2);
    padding: 10px 10px 20px 10px;
}

.header-menu-item img{
    width: 70%;
    height: 65%;
    object-fit: contain;
    margin: 10% 15%;
    border-radius: 50px 50px 0 0;

}

.header-menu-item-name{
    color: #d58794;
    font-size: 25px;
    width: 100%;
    text-align: center;
}


.coffee-section {
    padding: 50px 55px;
    /* background: rgba(213, 135, 148, 0.7) */
    /* filter: blur(0px); */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.section-title {
    margin-top: 20px;
    color: #f9fdfc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 60px; */
}

.description {
    margin-top: 25px;
    font-size: 20px;
    color: #f9fdfc;
    /* font-style: italic; */
    /* margin: 0 60px; */
}

.our-menu {
    font-size: 30px;
    font-weight: bold;
}

.small-desc {
    font-size: 20px;
    font-style: italic;
    font-weight: 200;
}

.section-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}

.item {
    margin: 10px;
    border-radius: 30px;
    width: 33%;
    height: 30vh;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: -6px 4px 8px 2px rgba(0, 0, 0, 0.2);
}

.item img{
    width: 70%;
    margin: 10% 15%;
    height: 60%;
    object-fit: contain;
    border-radius: 30px 30px 0 0;
}

.matcha-item-desc{
    margin: 20px 12px;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color:#d58794 ;
}

.matcha-item-name{
    max-width: 66%;
    margin-right: 2.5%;
    text-align: left;
}

.matcha-item-price{
    width: 30%;
    font-size: 16px;
    text-align: right;
}


.matcha-section{
    padding: 50px 55px;

}

.section-matcha-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.matcha-item {
    margin: 40px;
    border-radius: 30px;
    width: 40%;
    height: 30vh;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: -6px 4px 8px 2px rgba(0, 0, 0, 0.2);
}

.matcha-item img{
    width: 70%;
    margin: 10% 15%;
    height: 60%;
    object-fit: contain;
    border-radius: 30px 30px 0 0;
}



@media (max-width : 640px) {
    .header-menu-item{
        width: 60px;
        border-radius: 25px;
    }
    .header-menu-item-name{
        font-size: 13px;
    }
    .header-menu-item img {
        margin: 5%;
        width: 90%;
    }
    .matcha-item img {
        margin: 5% 15%;
    }
    .coffee-section{
        padding: 10px 15px;
    }
    .matcha-section{
        padding: 10px 15px
    }
    .item{
        width: 110px;
        display: flex;
        justify-content: center;
        height: 32vh;
    }
    .matcha-item{
        margin: 10px;
        width: 38%;
    }
    .item img{
        margin: 5% 15%;
    }
    .matcha-item-desc{
        display: flex;
        flex-direction: column;
    }
    .matcha-item-name{
        max-width: 100%;
        margin: 5px;
        text-align: center;
        font-size: 12px;
    }
    .matcha-item-price{
        width: 100%;
        margin: 5px;
        text-align: center;
        font-size: 13px
    }
}